body {
    margin: 0;
    padding: 0;
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family:  'Arial', sans-serif;
    color: rgb(0, 0, 0);
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  section {
    max-width: 800px;
    margin: 60px auto;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.322)322;
    border-radius: 10px;
  }
  
  h1, h2 {
    text-align: center;
    color: #990000;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.3em;
    text-align: center;
    color: #0a0202;
  }
  